<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../js/third-lib/jquery-3.2.1/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../../js/third-lib/angular-1.5.8//angular.js"></script>
<script type="text/javascript" src="../../js/owner-lib/meta.js"></script>


</head>
<body ng-app="ananasApp" ng-controller="ananasCtrl">
	
	<div >
		<p>{{resultData.name}}</p>
		<p><textarea ng-model="resultData.context" cols="40" rows="10"></textarea></p>
	</div>
	
	<div ng-show="display">
		<p><input type="text" ng-model="newMetaContext.newname" value=""></input></p>
		<p>name : {{metaContext.temp}}</p>
		<p ng-repeat="x in metaContext.prop">{{x.name}} : <input type="text" ng-model="newMetaContext.prop[x.name]" value=""/></p>
	</div>
	<button ng-click="save()">获得</button>
	<button ng-click="dipaly()">展示</button>
	<button ng-click="subt()">提交</button>
</body>
</html>