<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jquery -->
<script type="text/javascript" src="../../js/third-lib/jquery-3.2.1/jquery-3.2.1.js"></script>

<!-- angular -->
<script type="text/javascript" src="../../js/third-lib/angular-1.5.8//angular.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="../../js/third-lib/bootstrap-3.3.7/dist/js/bootstrap.js"></script>

<!-- angular tree control -->
<script type="text/javascript" src="../../js/third-lib/angular-tree-control/angular-tree-control.js"></script>

<script type="text/javascript" src="../../js/owner-lib/meta.js"></script>

<!-- bootstrap css -->
<link rel="stylesheet" href="../../js/third-lib/bootstrap-3.3.7/dist/css/bootstrap.css" type="text/css"></link>

<!-- angular tree control -->
<link rel="stylesheet" href="../../js/third-lib/angular-tree-control/css/tree-control.css" type="text/css"></link>
<link rel="stylesheet" href="../../js/third-lib/angular-tree-control/css/tree-control-attribute.css" type="text/css"></link>

</head>
<body ng-app="ananasApp" ng-controller="ananasCtrl">
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6" style="background-color: #dedef8; height:211px; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
				<textarea ng-model="metaDiv.temp" cols="70" rows="10" style="height:100%;width:100%;"></textarea>
			</div>
			<div class="col-md-6 col-md-pull-6" style="background-color: #dedef8; height:211px; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
				<table>
					<tr>
						<td>
							<select ng-model="metaDiv" ng-options="mDiv.name for mDiv in metaDivList">
								<option value="">请选择</option>
							</select>
						</td>
						
					</tr>
				
				</table>
			</div>
		</div>
	    <br>
	    <div>{{selectedNode.name}}
	    	<button ng-click="applyDiv()">保存</button>
			<button ng-click="prewView()">预览</button>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6" style="background-color: #dedef8; height:211px; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
				<treecontrol class="tree-classic"
				   tree-model="dataForTheTree"
				   options="treeOptions"
				   on-selection="showSelected(node)"
				   selected-node="node1">
				   {{node.name}} : {{node.type}}
				</treecontrol>
			</div>
			<div class="col-md-6" style="background-color: #dedef8; height:211px; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
				<table>
					<tr>
						<td>Div Inst Name:</td>
						<td><input type="text" ng-model="metaModelInst.name" value=""></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr ng-repeat="x in metaDiv.prop">
						<td>{{x.name}} :</td>
						<td><input type="text" ng-model="metaModelInst.prop[x.name]" value=""/></td>
					</tr>
				</table>						
			</div>
		</div>
	</div>

</body>
</html>